{
  "description": "",
  "url": "$NATS_URL",
  "token": "",
  "user": "",
  "password": "",
  "creds": "/home/$WORKING_AS/.local/share/nats/nsc/keys/creds/$NATS_OPERATOR/$NATS_ACCOUNT/$NATS_ACCOUNT_USER.creds",
  "nkey": "",
  "ca": "",
  "cert": "",
  "key": "",
  "nsc": "nsc://$NATS_OPERATOR/$NATS_ACCOUNT/$NATS_ACCOUNT_USER",
  "jetstream_domain": "",
  "jetstream_api_prefix": "",
  "jetstream_event_prefix": "",
  "inbox_prefix": "",
  "user_jwt": ""
}
